{% load floppyforms %}{% block row %}{% for field in fields %}
<div id="div-{{ field.name }}-field" class="pure-control-group{% if field.errors %} error{% endif %}">
  {% with classes=field.css_classes label=label|default:field.label help_text=help_text|default:field.help_text %}
  {% block label %}{% if field|id %}<label class="control-label" for="{{ field|id }}">{% endif %}{{ label }}{% if field.field.required %} <span class="required">*</span>{% endif %}{% if label|last not in ".:!?" %}:{% endif %}{% if field|id %}</label>{% endif %}{% endblock %}
  {% block field %}
  <div class="controls {{ classes }} field-{{ field.name }}">
    {% block widget %}{% formfield field %}{% endblock %}
    {% block errors %}{% include "floppyforms/errors.html" with errors=field.errors %}{% endblock %}
    {% block help_text %}{% if field.help_text %}
    <p class="help-block">{{ field.help_text }}</p>
    {% endif %}{% endblock %}
    {% block hidden_fields %}{% for field in hidden_fields %}{{ field.as_hidden }}{% endfor %}{% endblock %}
  </div><!--- .controls -->
  {% endblock %}
  {% endwith %}
</div><!--- .control-group{% if field.errors %}.error{% endif %} -->
{% endfor %}{% endblock %}
