<table class="pure-table pure-table-horizontal">
  <thead>
    <tr><th>Habitaci&oacute;n</th><th>Tarifa</th><th>Reservar</th></tr>
  </thead>
  <tbody>
    {{#each habitaciones}}
    <tr>
      <td>
        <label for="id_{{../fieldName}}_{{@index}}">
          {{nombre}}
        </label>
      </td>
      <td>$ {{tarifa}}</td>
      <td>
        <input id="id_{{../fieldName}}_{{@index}}" name="{{../fieldName}}" type="checkbox" value="{{id}}" />
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
