{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

<div class="submit-row"><strong>Total</strong> $<span id="total"></span></div>
<script type="text/javascript">
    $ = django.jQuery;
    function actualizarTotal() {
        var total = 0.0;
        $(".field-insumo select").each(function (i, obj) {
            if ($(obj).val()) {
                var cantidad = $(obj).parent().siblings(".field-cantidad").find("input").val();
                var url = "{% url "productos_ajax_precio_de_costo" 0 %}";
                url = url.replace("0", $(obj).val());
                $("#total").fadeOut();
                if (cantidad) {
                    var subtotal = 0.0;
                    $.getJSON(url, function (data) {
                        subtotal = (Number(data) * Number(cantidad));
                        var descuento = $(obj).parent().siblings(".field-descuento").find("input").val();
                        subtotal = subtotal - subtotal * (Number(descuento)/100.0)
                        if (subtotal > 0) {
                            $(obj).parent().siblings(
                                ".field-subtotal").find("input").val(subtotal.toFixed(2));
                        }
                        total = total + subtotal;
                        $("#total").text(total.toFixed(2));
                        $("#total").fadeIn();
                    });
                }
            }
        });
    }
    $(document).ready(function() {
            $(".field-subtotal input").attr('disabled', 'disabled');
            $(".field-insumo select").change(function () {
                actualizarTotal();
            }).trigger('change');
            $(".field-cantidad input").keyup(function () {
                actualizarTotal();
            }).trigger('change');
            $(".field-descuento input").keyup(function () {
                actualizarTotal();
            }).trigger('change');
            $("input[type=submit]").click(function (ev) {
                ev.preventDefault();
                $(".field-subtotal input").removeAttr('disabled');
                $('form').submit();
            });
    });
</script>
{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
