{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
{{ media }}
{% endblock %}

{% block extrabody %}
<script type="text/javascript">
var totalHaberes;
var empleado;

(function($) {
  function actualizarDatosLiquidacionEmpleado() {
    var empleadoID = $('select[name=empleado]').val();
    if (empleadoID != '') {
      $.ajax({
        url: '/administracion/gente/empleado/' + empleadoID + '/ajax/',
        success: function(data) {
          empleado = data;
          if (data.cargo != undefined) {
            // calcular total haberes
            var tipo = $('select[name=tipo]').val();
            var sueldoBasico = tipo == 'especial' ? data.cargo.sueldo / 2 : data.cargo.sueldo;
            totalHaberes = sueldoBasico + 0.01 * data.antiguedad * data.cargo.sueldo;
          } else {
            totalHaberes = 0;
            alert('El empleado seleccionado no tiene un cargo');
          }
          $('select[name^=liquidaciondetalle]').trigger('change');
        }
      });
    }
  }

  function actualizarFechaPago() {
    var hoy = new Date(),
        mes = $('select[name=mes]').val(),
        tipo = $('select[name=tipo]').val();
    if (!isNaN(mes)) {
      var fecha = moment(new Date(hoy.getFullYear(), Number(mes)-1, 1));
      if (tipo == 'mensual') { // En caso de ser mensual nosotros disponemos por convenio de la empresa que se va liquidar el sueldo mensualmente el 4 de cada mes
        $('input[name=fecha_pago]').val(fecha.add({months: 1, days: 3}).format('DD/MM/YYYY'));
      } else if (tipo == 'especial') { // En caso de ser Especial disponemos por convenio de la empresa que se liquidara el sueldo especial una vez pasada al menos 15 dia del mes elegido
        $('input[name=fecha_pago]').val(fecha.add(14, 'd').format('DD/MM/YYYY'));
      }
      actualizarDatosLiquidacionEmpleado();
    }
  }

  function actualizarConcepto() {
      $concepto = $(this);
      if ($concepto.val()) {
        $.ajax({
          url: '/administracion/haberes/concepto/' + $concepto.val() + '/ajax/',
          success: function(data) {
            var importe;
            if (data.tipo == 'porcentual') {
              importe = (data.monto / 100) * totalHaberes;
            } else {
              importe = data.monto;
            }
            if (data.tipo == 'AUH') {
              importe *= empleado.hijos;
            }
            if (data.deduccion) {
              importe *= -1;
            }
            $concepto.parent().siblings('.field-importe').children('input[name$=importe]').val(importe);
          }
        });
      }
    }

  $(function() {
    $('select[name=mes]').change(actualizarFechaPago);
    $('select[name=tipo]').change(actualizarFechaPago).trigger('change');
    $('select[name=empleado]').change(actualizarDatosLiquidacionEmpleado).trigger('change');
    $('select[name^=liquidaciondetalle]').change(actualizarConcepto).trigger('change');
  });
})(django.jQuery);
</script>
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    <li><a target="_blank" href="{% url "haberes_liquidacion_imprimir" object_id %}">Imprimir</a></li>
    {% block object-tools-items %}
    <li><a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
    {{ adminform.form.errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}
<div class="form-row">
  {% if original.auh and original.empleado.cantidad_de_hijos %}
  <div><label>Total AUH:</label> <small>({{ original.empleado.cantidad_de_hijos }} hijos)</small> <strong>${{ original.subtotal_auh }}</strong></div>
  {% endif %}
</div>
{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
<div class="inline-group">
  <div class="tabular inline-related">
    <fieldset class="module">
      <table>
        <tr class="form-row has_original">
          <td class="original"></td>
          <td colspan="2"><strong>TOTAL</strong></td>
          <td>
            <strong style="margin-left: -30px">${{ original.total }}</strong>
          </td>
          <td class="delete"></td>
        </td>
      </table>
    </fieldset>
  </div>
</div>
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% if adminform.first_field and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
