{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
<script type="text/javascript">
    $ = django.jQuery;
    var ajax_url = "{% url "hospedaje_reserva_ajax" 0 %}";
    $(document).ready(function () {
            $("select#id_reserva").change(function () {
                $.getJSON(ajax_url.replace("0", $(this).val()), function (datos) {
                    $.each(datos, function (nombre, dato) {
                        if (dato) {
                            if (nombre == "habitaciones") {
                                SelectBox.move_all("id_habitaciones_to", "id_habitaciones_from");
                                $.each(dato, function (i, habitacion) {
                                    $("#id_habitaciones_from").val(habitacion);
                                    SelectBox.move("id_habitaciones_from", "id_habitaciones_to");
                                });
                            } else {
                                $("form [name=" + nombre + "]").val(dato);
                            }
                        }
                    });
                });
            }).trigger("change");

            // CHEQUEO HABITACIONES DISPONIBLES
            permitir_submit = false;
            error = $('<ul class="errorlist"><li>Este campo es obligatorio</li></ul>');
            habitaciones_disponibles_ajax_url = "{% url "hospedaje_habitaciones_disponibles_ajax" %}";
            var bloque_habitaciones = $(".field-habitaciones").parent();
            if (!permitir_submit) {
              bloque_habitaciones.hide();
              var submit_row = $(".submit-row").hide();
              submit_row.after('<div class="submit-row"><input id="consultar" style="float:left" type="submit" value="Consultar"></div>');
              var boton_consulta = $("#consultar");
            }
            $('form').submit(function (ev) {
              if (!permitir_submit) {
                ev.preventDefault();
                $("form :input").siblings(".errorlist").remove();
                var valido = ($("form :input").not(":hidden").not("[type=submit]").filter(function() {
                    return ($(this).val() == "");
                    }).not(':has(option:selected)').siblings("label").before(error).length);
                if (valido <= 1) {
                  $.ajax({
                    url: habitaciones_disponibles_ajax_url,
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function (data) {
                      if (data.length) {
                        $("select#id_habitaciones_from option").remove();
                        for (var i=0; i<=data.length; i++) {
                          if (data[i] != undefined) {
                            $("select#id_habitaciones_from").append(
                              $("<option>" + data[i].numero + " " + data[i].categoria + "</option>"));
                          }
                        }
                        boton_consulta.hide();
                        bloque_habitaciones.fadeIn();
                        submit_row.fadeIn();
                        permitir_submit = true;
                      } else {
                        alert("No hay habitaciones disponibles para la fecha y cantidad de días elegidos. Por favor seleccione otra fecha.");
                      }
                  }});
                }
              }
            });

    });
</script>
{% endblock %}
