{% extends "base.html" %}
{% load i18n floppyforms %}
{% load url from future %}

{% block extrahead %}
<style>
input[type="checkbox"] {
  width: auto!important;
  margin: 0 10px;
}
</style>
<link href="{{ STATIC_URL }}css/jquery.datetimepicker.css" rel="stylesheet" />
{{ wizard.form.media }}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/handlebars-v1.3.0.js"></script>

{% if wizard.steps.current == wizard.steps.first%}
<script type="text/javascript">
var minDate = new Date();
var dateFormat = 'd/m/Y';
minDate.setDate(minDate.getDate() + 1);
$('input[type=date]').datetimepicker({
  lang: 'es',
  format: dateFormat,
  timepicker: false,
  startDate: minDate.dateFormat(dateFormat),
  minDate: minDate.dateFormat(dateFormat)
});

var habitacionesSelectTemplate;
var error = $('<ul class="errorlist"><li>Este campo es obligatorio</li></ul>');
var $divHabitaciones = $('#div-habitaciones-field').hide();
var $botonContinuar = $('button#continuar-btn').hide();

$.ajax({
    url: '{{ STATIC_URL }}templates/habitacion_field.handlebars',
    async: false,
    success: function (data) {
      habitacionesSelectTemplate = Handlebars.compile(data);
    }
});

$('#consultar-btn').on('click', function() {
    var $botonConsultar = $(this).hide();
    $divHabitaciones.find('#sin-habitaciones').remove();
    $("form :input").siblings(".errorlist").remove();
    var valido = ($("form :button").not(":hidden").not("[type=submit]").not("[value]").siblings("label").before(error).length);

    if (valido <= 1) {
      $.ajax({
        url: '{% url "hospedaje_categorias_disponibles_ajax" wizard.form.prefix %}',
        data: $('form').serialize(),
        type: 'POST',
        success: function(habitaciones) {
          if (habitaciones.length) {
            $divHabitaciones.find('.controls').html(habitacionesSelectTemplate({
              habitaciones: habitaciones,
              fieldName: '{% if wizard.form.prefix %}{{ wizard.form.prefix }}-{% endif %}{{ wizard.form.habitaciones.name }}'
            }));
            $divHabitaciones.fadeIn();
            $botonContinuar.fadeIn();
          } else {
            $botonConsultar.fadeIn();
            $divHabitaciones.append('<p id="sin-habitaciones">No hay habitaciones disponibles en las fechas seleccionadas para la cantidad de personas deseada, por favor intente otra consulta</p>');
          }
        },
      });
    }
});
</script>
{% endif %}
{% endblock %}

{% block content %}
<h2>Reserva</h2>
<p>Paso {{ wizard.steps.step1 }} de {{ wizard.steps.count }}</p>
{% if wizard.steps.current == wizard.steps.last %}
<p>Por favor ingrese los datos de su tarjeta de cr&eacute;dito para finalizar la reserva</p>
{% endif %}
<form class="pure-form" action="" method="post">{% csrf_token %}
  {{ wizard.management_form }}
  {% form wizard.form %}
  {% if wizard.steps.prev %}
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "anterior" %}</button>
  {% endif %}
  {% if wizard.steps.current == wizard.steps.first %}<a id="consultar-btn" class="pure-button">Consultar</a>{% endif %}
  <button id="continuar-btn" class="pure-button pure-button-primary" type="submit">Continuar</button>
</form>
{% endblock %}
