<!doctype html>{% load url from future %}
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if title %}{{ title }} | {% endif %}Hoster&iacute;a ATEP</title>

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure.css">
  <!--[if lte IE 8]>
          <link rel="stylesheet" href="css/main-grid-old-ie.css">
      <![endif]-->
  <!--[if gt IE 8]><!-->
          <link rel="stylesheet" href="{{ STATIC_URL }}css/main-grid.css">
      <!--<![endif]-->
  <!--[if lte IE 8]>
          <link rel="stylesheet" href="{{ STATIC_URL }}css/layouts/marketing-old-ie.css">
      <![endif]-->
  <!--[if gt IE 8]><!-->
          <link rel="stylesheet" href="{{ STATIC_URL }}css/layouts/marketing.css">
      <!--<![endif]-->

  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  {% block extrahead %}{% endblock %}
</head>

<body>
<div class="header">
  <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="/">Hoster&iacute;a ATEP</a>
    <ul>
      <li><a href="{% url 'admin:index' %}">Administraci&oacute;n</a></li>
    </ul>
  </div>
</div>

<div class="content-wrapper">
  <div class="content">
    {% block content %}{% endblock %}
  </div>


  <div class="footer l-box is-center">
    {{ autores|join:" | " }}
  </div>

</div>
{% block extrabody %}{% endblock %}

<script src="http://yui.yahooapis.com/3.14.1/build/yui/yui.js"></script>
<script>
YUI().use('node-base', 'node-event-delegate', function (Y) {
    // This just makes sure that the href="#" attached to the <a> elements
    // don't scroll you back up the page.
    Y.one('body').delegate('click', function (e) {
      e.preventDefault();
      }, 'a[href="#"]');
    });
</script>
{% block scripts %}{% endblock %}
</body>
</html>
