<!DOCTYPE html>
<html> 
    <head>
        <link href="//d2c5utp5fpfikz.cloudfront.net/3_1_1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container">
            <h1>Libro de Pasajeros</h1>
            <table class="table">
                <thead>
                  <tr>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Provincia</th>
                    <th>Localidad</th>
                    <th>Domicilio</th>
                  </thead>
                </thead>
                <tbody>
                {% for huesped in huespedes %}
                    <tr>
                        <td>{{ huesped.dni }}</td>
                        <td>{{ huesped.nombre }}</td>
                        <td>{{ huesped.apellido }}</td>
                        <td>{{ huesped.get_provincia_display }}</td>
                        <td>{{ huesped.localidad }}</td>
                        <td>{{ huesped.domicilio }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
