<!DOCTYPE html>
<html> 
    <head>
        <link href="//d2c5utp5fpfikz.cloudfront.net/3_1_1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container">
            <strong>{{ venta.fecha_y_hora }}</strong>
            <h1>Recibo</h1>
            <p>Cliente <strong>{{ venta.cliente }}</strong></p>
            <p>Vendedor <strong>{{ venta.vendedor }}</strong></p>
            <table class="table">
                <thead>
                    <tr><th>Producto</th><th>Cantidad</th><th>Descuento (%)</th><th>Subtotal</th></thead>
                </thead>
                <tbody>
                {% for linea in venta.lineadeventa_set.all %}
                    <tr>
                        <td>{{ linea.producto }}</td>
                        <td>{{ linea.cantidad }}</td>
                        <td>{{ linea.descuento }}</td>
                        <td>${{ linea.subtotal }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td></td><td></td>
                        <td><strong>Total</strong></td>
                        <td><strong>${{ venta.calcular_total }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
