<!DOCTYPE html>
<html> 
    <head>
        <link href="//d2c5utp5fpfikz.cloudfront.net/3_1_1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container">
            {% now "d/m/Y H:i" %}
            <h1>Liquidaci&oacute;n de Sueldo</h1>
            <div style="width:50%;margin:0 4px;float:left;display:block">
              <p>Periodo Liquidado: <strong>{{ liquidacion.periodo }}</strong></p>
              <p>Tipo de Liquidaci&oacute;n: <strong>{{ liquidacion.tipo|title }}</strong></p>
              {% if liquidacion.usuario %}
              <p>Usuario: <strong>{{ liquidacion.usuario.get_full_name|default:liquidacion.usuario.username }}</strong></p>
              {% endif %}
              <p>Empleado: <strong>{{ liquidacion.empleado }}</strong></p>
              <p>Antigüedad: <strong>{{ liquidacion.antiguedad_empleado }} (año{{ liquidacion.antiguedad_empleado|pluralize }})</strong></p>
            </div>
            <div style="width:44%;padding:0 4px;float:right;display:block;min-height:10em;background-color:#abc">
              {% if liquidacion.notas %}
              <h4>Notas:</h4>
              <p>{{ liquidacion.notas }}</p>
              {% endif %}
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">Concepto</th>
                    <th>Haberes remunerativos</th>
                    <th>Haberes no remunerativos</th>
                    <th>Descuentos</th>
                  </tr>
                </thead>
                <tbody>
                {% for detalle in liquidacion.liquidaciondetalle_set.all %}
                  <tr>
                      <td colspan="2">{{ detalle.concepto }}</td>
                      {% if detalle.concepto.tipo == 'AUH' %}
                      <td></td>
                      <td>{{ detalle.importe }}</td>
                      <td></td>
                      {% elif detalle.concepto.deduccion %}
                      <td></td>
                      <td></td>
                      <td>{{ detalle.importe }}</td>
                      {% else %}
                      <td>{{ detalle.importe }}</td>
                      <td></td>
                      <td></td>
                      {% endif %}
                  </tr>
                {% endfor %}
                    <tr>
                        <td colspan="2">Sueldo B&aacute;sico</td>
                        <td>${{ liquidacion.basico|floatformat:2 }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">Antigüedad</td>
                        <td>{{ liquidacion.total_antiguedad|floatformat:2 }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>Totales</strong></td>
                        <td>{{ liquidacion.basico|add:liquidacion.total_antiguedad|floatformat:2 }}</td>
                        <td>{{ liquidacion.total_no_remunerativos }}</td>
                        <td>{{ liquidacion.total_descuentos }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>Neto a Cobrar</strong></td>
                        <td><strong>${{ liquidacion.total|floatformat:2 }}</strong></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
