<!DOCTYPE html>
<html> 
    <head>
        <link href="//d2c5utp5fpfikz.cloudfront.net/3_1_1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container">
            <strong>{% now 'd/m/Y' %}</strong>
            <h1>Alquiler</h1>
            {% if alquiler.aprobado_por %}
            <p>Aprobado por: <strong>{{ alquiler.aprobado_por }}</strong></p>
            {% endif %}
            <p>Huespedes: <strong>{{ alquiler.huespedes.count }}</strong></p>
            <p>Ingreso: <strong>{{ alquiler.fecha_ingreso|date:"d/m/Y" }}</strong></p>
            <p>Egreso: <strong>{{ alquiler.fecha_egreso|date:"d/m/Y" }}</strong></p>
            {% if alquiler.modalidad %}
            <p>Modalidad: <strong>{{ alquiler.modalida }}</strong></p>
            {% endif %}

            <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">Habitacion</th>
                    <th>Remuneraciones</th>
                    <th>Descuentos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="2">Asignaci&oacute;n por hijo</td>
                    <td>{{ liquidacion.auh }}</td>
                    <td></td>
                  </tr>
                {% for detalle in liquidacion.liquidaciondetalle_set.all %}
                  <tr>
                      <td colspan="2">{{ detalle.concepto.tipo }}</td>
                      {% if detalle.concepto.deduccion %}
                      <td></td>
                      <td>{{ detalle.importe }}</td>
                      {% else %}
                      <td>{{ detalle.importe }}</td>
                      <td></td>
                      {% endif %}
                  </tr>
                {% endfor %}
                    <tr>
                        <td></td>
                        <td><strong>Total</strong></td>
                        <td><strong>${{ liquidacion.total }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
