{% extends "base.html" %}

{% block content %}
<div id="detalle-reserva">
  <p>
  Muchas gracias, debajo puede ver los detalles de su reserva y el correspondiente pago efectuado.
  </p>
  <div>
    <h2>Detalle de su reserva</h2>
    <dl>
      <dt>Fecha ingreso</dt><dd>{{ reserva.fecha_ingreso }}</dd>
      <dt>Fecha salida</dt><dd>{{ reserva.fecha_salida }}</dd>
      <dt>Duraci&oacute;n de la estad&iacute;a</dt><dd>{{ reserva.duracion_estadia }} d&iacute;s</dd>
    </dl>
  </div>
  <div>
    <h2>Detalles del pago</h2>
    <table class="pure-table pure-table-horizontal">
      <thead>
        <tr><th>Cantidad</th><th>Descripci&oacute;n</th><th>Subtotales</th></tr>
      </thead>
      <tbody>
      {% for habitacion in reserva.habitaciones.all %}
      <tr><td>1</td><td>Habitacion {{ habitacion.categoria }}</td><td>$ {{ habitacion.categoria.tarifa_base }}</td></tr>
      {% endfor %}
      <tr><td>{{ reserva.cantidad_de_personas }}</td><td>Adicional {{ reserva.modalidad.nombre }} (por persona)</td><td>$ {{ reserva.subtotal_modalidad }}</td></tr>
      <tr><td colspan="2" rowspan="2"><strong>TOTAL</strong></td><td rowspan="2"><strong>$ {{ reserva.total_a_pagar }}</strong></td></tr>
      </tbody>
    </table>
    <p>
      Pagado el {{ reserva.pago.fecha_y_hora|date:"d/m/Y" }} con tarjeta de cr&eacute;dito a nombre de {{ reserva.pago.titular }} que termina en {{ reserva.pago.ultimos_numeros_tarjeta }}.
    </p>

  </div>
</div>
{% endblock %}
